<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    <h1>
    <div>SCANNER:
        {% if g.user.is_authenticated %}
        | <a href="{{ url_for('addp') }}">Make a photo</a>
	| <a href="{{ url_for('stream') }}">Stream video</a>
        | <a href="{{ url_for('points') }}">Show current photos</a>
	| <a href="{{ url_for('new') }}">Start new measure</a>
	| <a href="{{ url_for('info') }}">Info & edit options</a>
	| <a href="{{ url_for('database') }}">Database</a>
	| <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    </h1>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>