<html>
  <head>
    {% if title %}
    <title>{{ title }} - scanner</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    <h1>
	{% if g.user.is_authenticated %}
        	<a href="{{ url_for('addp') }}"><img src="/static/new photo.png" alt="new photo" width=28%" height="24%"></a>
		<a href="{{ url_for('stream') }}"><img src="/static/video.png" alt="stream" width="28%" height="24%"></a>
	        <a href="{{ url_for('points') }}"><img src="/static/current photos.png" alt="current points" width="28%" height="24%"></a>
		<a href="{{ url_for('new') }}"><img src="/static/new measure.png" alt="new measure" width="28%" height="24%"></a>
		<a href="{{ url_for('info') }}"><img src="/static/info & edit.png" alt="info & edit" width="28%" height="24%"></a>
		<a href="{{ url_for('database') }}"><img src="/static/database.png" alt="database" width="28%" height="24%"></a>
		<a href="{{ url_for('auto') }}"><img src="/static/automatic.png" alt="automatic" width="28%" height="24%"></a>
		<a href="{{ url_for('manual') }}"><img src="/static/manual.png" alt="manual" width="28%" height="24%"></a>
		<a href="{{ url_for('logout') }}"><img src="/static/logout.png" alt="logout" width="28%" height="24%"></a>
	{% endif %}
    </h1>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>