{% extends "base.html" %}
{% block content %}
	<img src="/static/preview.png" alt="preview" style:"width:304px;height:228px;">
	<h1>Photos for measure {{ m.title }} :</h1>
	<a href="info">Show more info</a>
	<table border="1">
			<thead>
				<tr>
					<th>No.</th>
					<th>X</th>
					<th>Y</th>
					<th>processed</th>
					<th>progress</th>
					<th>show</th>
				</tr>
			</thead>
		<tbody>
			{% for i in p %}
				<tr>
					<td> {{ i.id }}		</td>
					<td> {{ i.value_x }}	</td>
					<td> {{ i.value_y }}	</td>
					<td> {{ i.calculated }}	</td>
					<td> {{ i.progress }}	</td>
					<td>
					<form action="" method="post">
						<input type="submit" name="submit" value=s{{i.id}}>
					</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>		
{% endblock %}